<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Invitación a unirse a Bteno</title>
    </head>
    <body>
        <h1>Unete a la comunidad de Bteno.</h1>

        <p>Hola {{ email }},</p>

        <p>Te invitamos a unirte a Bteno, un software como servicio para la gestión de riesgos. Bteno es una herramienta poderosa que te ayudará a identificar, evaluar y mitigar los riesgos de tu organización.</p>

        <p>Con Bteno, podrás:</p>

        <ul>
        <li>Identificar los riesgos clave de tu organización: Bteno te ayuda a recopilar información de una variedad de fuentes para crear una vista completa de los riesgos de tu organización.</li>
        <li>Evaluar la gravedad de los riesgos: Bteno te ayuda a evaluar la gravedad de los riesgos de tu organización para que puedas priorizar tus esfuerzos de mitigación.</li>
        <li>Mitigar los riesgos: Bteno te ayuda a desarrollar e implementar planes de mitigación para reducir la probabilidad e impacto de los riesgos.</li>
        </ul>

        <p>Creemos que Bteno puede ser una herramienta valiosa para tu organización. Te invitamos a aceptar nuestra invitación y comenzar a usar Bteno hoy mismo.</p>

        <p>Para aceptar la invitación, haz clic en el siguiente enlace:</p>

        <p><a href="http://localhost:3000/auth/create-account">Aceptar invitación</a></p>

        <p>Una vez que hayas aceptado la invitación, podrás crear una cuenta y comenzar a usar Bteno.</p>

        <p>Gracias por tu tiempo y consideración.</p>

        <p>Atentamente,</p>

        <p>El equipo de Bteno</p>
    </body>
</html>