<!DOCTYPE html>
<html>
<head>
  <title>Registration Confirmation</title>
</head>
<body style="margin: auto 30px;">
  <div style="background-color: #f9f9f9; margin: 0px auto; padding: 2px; padding-left: 20px; display: block;">
    <div style="display: inline-flex">
      <img src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" style="width: 25px; height: 25px; display: inline;">
    </div>
    <div style="display: inline-flex; margin-left: 10px;">
      <h1 style="color: #000;">ESos</h1>
    </div>
  </div>
  <br>
  <p>Su cuenta ha sido creada exitosamente.</p>
  <p>Visite nuestra aplicación para disfrutar de los servicios disponibles</p>

  <br>
  <p>Muchas gracias por registrarse!</p>

  <p style="color: #3333;">Si no has creado esta cuenta, por favor ignora este correo.</p>
  <div style="background: #fff; padding: 2px">
    <p>Para más información visite <strong style="color: #000;">www.esos.com</strong></p>
  </div>
</body>
</html>