<!DOCTYPE html>
<html lang="es">
  <head>
    <title>¡Bienvenido a Bteno!</title>
  </head>
  <body>
    <h1>¡Bienvenido a Bteno!</h1>

    <p>Hola {{ first_name }},</p>

    <p>¡Gracias por registrarte en Bteno!</p>

    <p>Estamos emocionados de que te hayas unido a nuestra comunidad. Bteno es un software como servicio que contribuye a aumentar la seguridad de tu organización.</p>

    <p>Dentro de la plataforma, podrás:</p>

    <ul>
      <li>Identificar los riesgos clave de tu organización: Bteno te ayuda a recopilar información de una variedad de fuentes para crear una vista completa de los riesgos de tu organización.</li>
      <li>Evaluar la gravedad de los riesgos: Bteno te ayuda a evaluar la gravedad de los riesgos de tu organización para que puedas priorizar tus esfuerzos de mitigación.</li>
      <li>Mitigar los riesgos: Bteno te ayuda a desarrollar e implementar planes de mitigación para reducir la probabilidad e impacto de los riesgos.</li>
    </ul>

    <p>Estamos aquí para ayudarte a tener éxito en tu gestión de riesgos. Si tienes alguna pregunta, no dudes en ponerte en contacto con nosotros.</p>

    <p>¡Te deseamos todo lo mejor en tu camino hacia la gestión eficaz de los riesgos!</p>

    <p>Atentamente,</p>

    <p>El equipo de Bteno.com</p>
  </body>
</html>